SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE EXTENSION IF NOT EXISTS "pg_net" WITH SCHEMA "extensions";






COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";






CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE TYPE "public"."user_role" AS ENUM (
    'cliente',
    'asesor',
    'admin'
);


ALTER TYPE "public"."user_role" OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."chats" (
    "id" integer NOT NULL,
    "user_id" bigint NOT NULL,
    "asunto" "text",
    "estado" "text" DEFAULT 'abierto'::"text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    CONSTRAINT "chats_estado_check" CHECK (("estado" = ANY (ARRAY['abierto'::"text", 'cerrado'::"text"])))
);


ALTER TABLE "public"."chats" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."chats_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."chats_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."chats_id_seq" OWNED BY "public"."chats"."id";



CREATE TABLE IF NOT EXISTS "public"."contactos" (
    "id" bigint NOT NULL,
    "nombre" "text" NOT NULL,
    "email" "text" NOT NULL,
    "asunto" "text",
    "mensaje" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."contactos" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."contactos_atencion" (
    "id" bigint NOT NULL,
    "fecha" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "canal" "text" NOT NULL,
    "usuario_nombre" "text",
    "mensaje_previo" "text"
);


ALTER TABLE "public"."contactos_atencion" OWNER TO "postgres";


ALTER TABLE "public"."contactos_atencion" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."contactos_atencion_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



ALTER TABLE "public"."contactos" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."contactos_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."cupones" (
    "id" bigint NOT NULL,
    "codigo" "text" NOT NULL,
    "descuento" numeric NOT NULL,
    "estado" boolean DEFAULT true,
    "creado_en" timestamp with time zone DEFAULT "now"(),
    "usado_por_dni" "text",
    "expira_en" timestamp with time zone
);


ALTER TABLE "public"."cupones" OWNER TO "postgres";


ALTER TABLE "public"."cupones" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."cupones_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."direcciones" (
    "id" bigint NOT NULL,
    "usuario_email" "text" NOT NULL,
    "etiqueta" "text" DEFAULT 'CASA'::"text",
    "direccion" "text" NOT NULL,
    "referencia" "text",
    "distrito" "text",
    "es_principal" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "provincia" "text",
    "departamento" "text"
);


ALTER TABLE "public"."direcciones" OWNER TO "postgres";


ALTER TABLE "public"."direcciones" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."direcciones_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."favoritos" (
    "id" bigint NOT NULL,
    "user_id" bigint NOT NULL,
    "producto_id" bigint NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."favoritos" OWNER TO "postgres";


ALTER TABLE "public"."favoritos" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."favoritos_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."historial_compras" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "usuario_id" "uuid",
    "producto_id" bigint,
    "fecha_compra" timestamp with time zone DEFAULT "now"(),
    "monto_total" numeric,
    "estado_pedido" "text" DEFAULT 'procesando'::"text"
);


ALTER TABLE "public"."historial_compras" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."logs_sesiones" (
    "id" integer NOT NULL,
    "usuario_id" integer,
    "evento" character varying(50),
    "ip_address" character varying(45),
    "user_agent" "text",
    "creado_at" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "public"."logs_sesiones" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."logs_sesiones_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."logs_sesiones_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."logs_sesiones_id_seq" OWNED BY "public"."logs_sesiones"."id";



CREATE TABLE IF NOT EXISTS "public"."mensajes" (
    "id" integer NOT NULL,
    "chat_id" integer NOT NULL,
    "remitente" "text" NOT NULL,
    "contenido" "text" NOT NULL,
    "leido" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    CONSTRAINT "mensajes_remitente_check" CHECK (("remitente" = ANY (ARRAY['cliente'::"text", 'admin'::"text"])))
);


ALTER TABLE "public"."mensajes" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."mensajes_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."mensajes_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."mensajes_id_seq" OWNED BY "public"."mensajes"."id";



CREATE TABLE IF NOT EXISTS "public"."modelos" (
    "id" bigint NOT NULL,
    "nombre_zapatilla" "text" NOT NULL,
    "descripcion" "text",
    "modelo" "text",
    "sigla" "text",
    "color" "text",
    "precio" numeric(10,2) NOT NULL,
    "genero" "text",
    "categoria" "text",
    "imagen_url" "text",
    "imagen_url_2" "text",
    "imagen_url_3" "text",
    "imagen_url_4" "text",
    "imagen_url_5" "text",
    "created_at" timestamp without time zone DEFAULT "now"(),
    "tamano" "text",
    "sub_categoria" "text"[]
);


ALTER TABLE "public"."modelos" OWNER TO "postgres";


ALTER TABLE "public"."modelos" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."modelos_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."patrocinios" (
    "id" bigint NOT NULL,
    "nombre" "text" NOT NULL,
    "logo_url" "text",
    "enlace_web" "text",
    "activo" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."patrocinios" OWNER TO "postgres";


ALTER TABLE "public"."patrocinios" ALTER COLUMN "id" ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME "public"."patrocinios_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."reclamaciones" (
    "id_reclamo" integer NOT NULL,
    "nombre_completo" character varying(150) NOT NULL,
    "dni_ce" character varying(15) NOT NULL,
    "celular" character varying(15) NOT NULL,
    "correo_electronico" character varying(100) NOT NULL,
    "direccion" "text" NOT NULL,
    "descripcion_producto_servicio" "text" NOT NULL,
    "detalle_reclamo_queja" "text" NOT NULL,
    "imagen1" "text",
    "imagen2" "text",
    "imagen3" "text",
    "imagen4" "text",
    "fecha_registro" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "estado_reclamo" character varying(20) DEFAULT 'Pendiente'::character varying
);


ALTER TABLE "public"."reclamaciones" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."reclamaciones_id_reclamo_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."reclamaciones_id_reclamo_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."reclamaciones_id_reclamo_seq" OWNED BY "public"."reclamaciones"."id_reclamo";



CREATE TABLE IF NOT EXISTS "public"."tiendas" (
    "id" bigint NOT NULL,
    "nombre" "text" NOT NULL,
    "direccion" "text" NOT NULL,
    "distrito" "text" DEFAULT 'Ate'::"text",
    "google_maps_url" "text",
    "imagen_url" "text",
    "horario" "text",
    "activo" boolean DEFAULT true
);


ALTER TABLE "public"."tiendas" OWNER TO "postgres";


ALTER TABLE "public"."tiendas" ALTER COLUMN "id" ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME "public"."tiendas_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."usuarios" (
    "id" integer NOT NULL,
    "firebase_uid" character varying(255) NOT NULL,
    "nombre" character varying(100) NOT NULL,
    "celular" character varying(20) NOT NULL,
    "email" character varying(150),
    "rol" "public"."user_role" DEFAULT 'cliente'::"public"."user_role",
    "puntos_ivano" integer DEFAULT 0,
    "creado_at" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "password" character varying(255),
    "dni" character varying(8)
);


ALTER TABLE "public"."usuarios" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."usuarios_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."usuarios_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."usuarios_id_seq" OWNED BY "public"."usuarios"."id";



CREATE TABLE IF NOT EXISTS "public"."variantes_stock" (
    "id" bigint NOT NULL,
    "modelo_id" bigint,
    "talla" "text" NOT NULL,
    "stock" integer DEFAULT 0,
    "created_at" timestamp without time zone DEFAULT "now"()
);


ALTER TABLE "public"."variantes_stock" OWNER TO "postgres";


ALTER TABLE "public"."variantes_stock" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."variantes_stock_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."videos_inicio" (
    "id" bigint NOT NULL,
    "creado_at" timestamp with time zone DEFAULT "now"(),
    "titulo" "text" NOT NULL,
    "video_path" "text" NOT NULL,
    "activo" boolean DEFAULT true,
    "orden" integer DEFAULT 0,
    "url_tiktok" "text",
    "url_instagram" "text",
    "url_facebook" "text"
);


ALTER TABLE "public"."videos_inicio" OWNER TO "postgres";


ALTER TABLE "public"."videos_inicio" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."videos_inicio_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



ALTER TABLE ONLY "public"."chats" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."chats_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."logs_sesiones" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."logs_sesiones_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."mensajes" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."mensajes_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."reclamaciones" ALTER COLUMN "id_reclamo" SET DEFAULT "nextval"('"public"."reclamaciones_id_reclamo_seq"'::"regclass");



ALTER TABLE ONLY "public"."usuarios" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."usuarios_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."chats"
    ADD CONSTRAINT "chats_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."contactos_atencion"
    ADD CONSTRAINT "contactos_atencion_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."contactos"
    ADD CONSTRAINT "contactos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."cupones"
    ADD CONSTRAINT "cupones_codigo_key" UNIQUE ("codigo");



ALTER TABLE ONLY "public"."cupones"
    ADD CONSTRAINT "cupones_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."direcciones"
    ADD CONSTRAINT "direcciones_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."favoritos"
    ADD CONSTRAINT "favoritos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."historial_compras"
    ADD CONSTRAINT "historial_compras_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."logs_sesiones"
    ADD CONSTRAINT "logs_sesiones_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."mensajes"
    ADD CONSTRAINT "mensajes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."modelos"
    ADD CONSTRAINT "modelos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."patrocinios"
    ADD CONSTRAINT "patrocinios_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."reclamaciones"
    ADD CONSTRAINT "reclamaciones_pkey" PRIMARY KEY ("id_reclamo");



ALTER TABLE ONLY "public"."tiendas"
    ADD CONSTRAINT "tiendas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."usuarios"
    ADD CONSTRAINT "usuarios_celular_key" UNIQUE ("celular");



ALTER TABLE ONLY "public"."usuarios"
    ADD CONSTRAINT "usuarios_dni_key" UNIQUE ("dni");



ALTER TABLE ONLY "public"."usuarios"
    ADD CONSTRAINT "usuarios_email_unique" UNIQUE ("email");



ALTER TABLE ONLY "public"."usuarios"
    ADD CONSTRAINT "usuarios_firebase_uid_key" UNIQUE ("firebase_uid");



ALTER TABLE ONLY "public"."usuarios"
    ADD CONSTRAINT "usuarios_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."variantes_stock"
    ADD CONSTRAINT "variantes_stock_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."videos_inicio"
    ADD CONSTRAINT "videos_inicio_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."chats"
    ADD CONSTRAINT "chats_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."usuarios"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."favoritos"
    ADD CONSTRAINT "favoritos_producto_id_fkey" FOREIGN KEY ("producto_id") REFERENCES "public"."modelos"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."favoritos"
    ADD CONSTRAINT "favoritos_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."usuarios"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."logs_sesiones"
    ADD CONSTRAINT "fk_usuario" FOREIGN KEY ("usuario_id") REFERENCES "public"."usuarios"("id");



ALTER TABLE ONLY "public"."direcciones"
    ADD CONSTRAINT "fk_usuario" FOREIGN KEY ("usuario_email") REFERENCES "public"."usuarios"("email") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."historial_compras"
    ADD CONSTRAINT "historial_compras_producto_id_fkey" FOREIGN KEY ("producto_id") REFERENCES "public"."modelos"("id");



ALTER TABLE ONLY "public"."historial_compras"
    ADD CONSTRAINT "historial_compras_usuario_id_fkey" FOREIGN KEY ("usuario_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."mensajes"
    ADD CONSTRAINT "mensajes_chat_id_fkey" FOREIGN KEY ("chat_id") REFERENCES "public"."chats"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."variantes_stock"
    ADD CONSTRAINT "variantes_stock_modelo_id_fkey" FOREIGN KEY ("modelo_id") REFERENCES "public"."modelos"("id") ON DELETE CASCADE;



CREATE POLICY "Acceso publico por email" ON "public"."usuarios" FOR SELECT TO "authenticated", "anon" USING (true);



CREATE POLICY "Gesti├│n propia de direcciones" ON "public"."direcciones" TO "authenticated", "anon" USING (true) WITH CHECK (("usuario_email" = "usuario_email"));



CREATE POLICY "Lectura Publica Videos" ON "public"."videos_inicio" FOR SELECT USING (true);



CREATE POLICY "Permite actualizaci├│n propia por DNI" ON "public"."usuarios" FOR UPDATE TO "authenticated", "anon" USING (true) WITH CHECK (true);



CREATE POLICY "Permite registro p├║blico" ON "public"."usuarios" FOR INSERT TO "authenticated", "anon" WITH CHECK (true);



CREATE POLICY "Usuarios pueden ver su propio perfil" ON "public"."usuarios" FOR SELECT TO "authenticated" USING ((("auth"."jwt"() ->> 'email'::"text") = ("email")::"text"));



CREATE POLICY "Usuarios ven sus compras" ON "public"."historial_compras" FOR SELECT TO "authenticated" USING (("auth"."uid"() = "usuario_id"));



ALTER TABLE "public"."chats" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."direcciones" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."mensajes" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."usuarios" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."videos_inicio" ENABLE ROW LEVEL SECURITY;




ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";





GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";














































































































































































GRANT ALL ON TABLE "public"."chats" TO "anon";
GRANT ALL ON TABLE "public"."chats" TO "authenticated";
GRANT ALL ON TABLE "public"."chats" TO "service_role";



GRANT ALL ON SEQUENCE "public"."chats_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."chats_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."chats_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."contactos" TO "anon";
GRANT ALL ON TABLE "public"."contactos" TO "authenticated";
GRANT ALL ON TABLE "public"."contactos" TO "service_role";



GRANT ALL ON TABLE "public"."contactos_atencion" TO "anon";
GRANT ALL ON TABLE "public"."contactos_atencion" TO "authenticated";
GRANT ALL ON TABLE "public"."contactos_atencion" TO "service_role";



GRANT ALL ON SEQUENCE "public"."contactos_atencion_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."contactos_atencion_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."contactos_atencion_id_seq" TO "service_role";



GRANT ALL ON SEQUENCE "public"."contactos_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."contactos_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."contactos_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."cupones" TO "anon";
GRANT ALL ON TABLE "public"."cupones" TO "authenticated";
GRANT ALL ON TABLE "public"."cupones" TO "service_role";



GRANT ALL ON SEQUENCE "public"."cupones_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."cupones_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."cupones_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."direcciones" TO "anon";
GRANT ALL ON TABLE "public"."direcciones" TO "authenticated";
GRANT ALL ON TABLE "public"."direcciones" TO "service_role";



GRANT ALL ON SEQUENCE "public"."direcciones_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."direcciones_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."direcciones_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."favoritos" TO "anon";
GRANT ALL ON TABLE "public"."favoritos" TO "authenticated";
GRANT ALL ON TABLE "public"."favoritos" TO "service_role";



GRANT ALL ON SEQUENCE "public"."favoritos_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."favoritos_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."favoritos_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."historial_compras" TO "anon";
GRANT ALL ON TABLE "public"."historial_compras" TO "authenticated";
GRANT ALL ON TABLE "public"."historial_compras" TO "service_role";



GRANT ALL ON TABLE "public"."logs_sesiones" TO "anon";
GRANT ALL ON TABLE "public"."logs_sesiones" TO "authenticated";
GRANT ALL ON TABLE "public"."logs_sesiones" TO "service_role";



GRANT ALL ON SEQUENCE "public"."logs_sesiones_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."logs_sesiones_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."logs_sesiones_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."mensajes" TO "anon";
GRANT ALL ON TABLE "public"."mensajes" TO "authenticated";
GRANT ALL ON TABLE "public"."mensajes" TO "service_role";



GRANT ALL ON SEQUENCE "public"."mensajes_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."mensajes_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."mensajes_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."modelos" TO "anon";
GRANT ALL ON TABLE "public"."modelos" TO "authenticated";
GRANT ALL ON TABLE "public"."modelos" TO "service_role";



GRANT ALL ON SEQUENCE "public"."modelos_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."modelos_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."modelos_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."patrocinios" TO "anon";
GRANT ALL ON TABLE "public"."patrocinios" TO "authenticated";
GRANT ALL ON TABLE "public"."patrocinios" TO "service_role";



GRANT ALL ON SEQUENCE "public"."patrocinios_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."patrocinios_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."patrocinios_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."reclamaciones" TO "anon";
GRANT ALL ON TABLE "public"."reclamaciones" TO "authenticated";
GRANT ALL ON TABLE "public"."reclamaciones" TO "service_role";



GRANT ALL ON SEQUENCE "public"."reclamaciones_id_reclamo_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."reclamaciones_id_reclamo_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."reclamaciones_id_reclamo_seq" TO "service_role";



GRANT ALL ON TABLE "public"."tiendas" TO "anon";
GRANT ALL ON TABLE "public"."tiendas" TO "authenticated";
GRANT ALL ON TABLE "public"."tiendas" TO "service_role";



GRANT ALL ON SEQUENCE "public"."tiendas_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."tiendas_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."tiendas_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."usuarios" TO "anon";
GRANT ALL ON TABLE "public"."usuarios" TO "authenticated";
GRANT ALL ON TABLE "public"."usuarios" TO "service_role";



GRANT ALL ON SEQUENCE "public"."usuarios_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."usuarios_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."usuarios_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."variantes_stock" TO "anon";
GRANT ALL ON TABLE "public"."variantes_stock" TO "authenticated";
GRANT ALL ON TABLE "public"."variantes_stock" TO "service_role";



GRANT ALL ON SEQUENCE "public"."variantes_stock_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."variantes_stock_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."variantes_stock_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."videos_inicio" TO "anon";
GRANT ALL ON TABLE "public"."videos_inicio" TO "authenticated";
GRANT ALL ON TABLE "public"."videos_inicio" TO "service_role";



GRANT ALL ON SEQUENCE "public"."videos_inicio_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."videos_inicio_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."videos_inicio_id_seq" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";































