<div class="pago-detail">
  <div [ngSwitch]="metodoSeleccionado">
    <!-- Caso Culqi -->
    <div *ngSwitchCase="'culqi'" class="view-center">
      <img src="assets/culqi-full.png" class="logo-pasarela" alt="Culqi">
      <p>Haz clic en "PAGAR AHORA" para abrir el formulario seguro de Culqi.</p>
    </div>
    <!-- Caso Billeteras -->
    <div *ngSwitchCase="'billeteras'" class="view-center">
      <h3>Yape / Plin</h3>
      <p>Escanea el QR o envía al número: <b>910 527 690</b></p>
    </div>
    <!-- Caso Transferencia -->
    <div *ngSwitchCase="'transferencia'" class="view-center">
      <h3>Transferencia Bancaria</h3>
      <div *ngFor="let c of cuentasBancarias" class="bank-card">
        <p><b>{{c.banco}}</b>: {{c.nro}} (CCI: {{c.cci}})</p>
      </div>
    </div>
  </div>
</div>